@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --purple: #400073;
  --purplelight:#a091fc;
  --white: #fff;
  --dark: #1e1c2a;
  --shadow: #ccc;
}
body {
  color: var(--dark);
  background: var(--white);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: var(--white);
  transition: all 0.5s;
  position: fixed;
}
.navigation .logo {
  color: var(--purple);
  font-size: 1.7rem;
  font-weight: 600;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}
.logo h3 {
  color: var(--purple);
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}
.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.navigation ul li a {
  color: var(--dark);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}
.navigation ul li a:hover {
  color: var(--purple);
}
.navigation button {
  padding: 8px 22px;
  background: var(--purple);
  color: var(--white);
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
}
.navigation button:hover {
  background-color: var(--purplelight);
  color: var(--white);
}
.navigation button:active {
  transform: scale(0.99);
  box-shadow: 0 0.1rem 0.5rem var(--shadow);
}
.menu {
  cursor: pointer;
  display: none;
}
.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--purple);
}
.solutions {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}
.solutions-text {
  max-width: 37rem;
}
.solutions-text .text-h4 {
  font-size: 1.5rem;
  color: var(--purple);
  margin-bottom: 1rem;
} 
.solutions-text .text-h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
}
.solutions-text p {
  margin-bottom: 4rem;
}
.solutions-btn {
  padding: 15px 45px;
  background: var(--purple);
  color: var(--white);
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.5s;
}
.solutions-btn:hover {
  background: var(--purplelight);
  color: var(--white);
}
.solutions-btn:active {
  transform: scale(0.99);
  box-shadow: 0 0.1rem 0.5rem var(--shadow);
}
.solutions img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;  
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: var(--white);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none; 
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--purple);
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: var(--purple);
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 30px;
  color: var(--dark);
  transition: all 0.3s ease;
  border: none;
  border-bottom: 1.5px solid #ccc;
}
.input_box input:focus{
  border-color: var(--purplelight);
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.input_box i.email,
.input_box i.password {
  left: 0;
  color: var(--purple);
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {

  color: var(--purplelight);
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: var(--purple);
  font-size: 12px;
}
.form_container a:hover {
  color: var(--purplelight);
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
  font-size: 12px;
}
.checkbox input {
  accent-color: var(--purplelight);
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: var(--purple);
}
.form_container .button {
  background: var(--purple);
  color: var(--white);
  cursor: pointer;
  border-style: none;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
}
.form_container .button:hover {
  background-color: var(--purplelight);
  color: var(--white);
}
.form_container .button:active {
  transform: scale(0.99);
  box-shadow: 0 0.1rem 0.5rem var(--shadow);
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
.login_signup a{
  color: var(--purplelight);
}
.login_signup a:hover{
  color: var(--purple);
}

@media (min-width: 1700px) {
  .solutions img {
    width: 130%;
    max-width: none;
  }
}
@media (max-width: 785px) {
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--white);
    gap: -10px;
    transition: 0.3s;
    margin-top: 3rem;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .solutions {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }
  .solutions .text-h4 {
    margin-top: 50px;
    font-size: 15px;
  }
  .solutions .text-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .solutions p {
    font-size: 15px;
  }
  .solutions img {
    width: 125%;
    margin-bottom: 200px;
  }
}
